* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d4e4f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #d4e4f1;
    padding: 5px;
}

header h1 {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    margin: auto;
}

header i {
    font-size: 18px;
    margin: 7px;
}

main {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#location {
    display: flex;
    text-align: left;
    padding: 10px;
}

#set-location {
    margin-right: 5px;
}

#chose-location {
    display: flex;
    flex-direction: column;
    background-color: #d4e4f1;
    align-self: center;
    padding: 15px;
    z-index: 1;
    position: absolute;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: none;
    top: 15px;
}

#header-chose-location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

#header-chose-location button {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

#chose-location input {
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
}

.suggestion-style {
    margin: 3px;
}

#chose-location i {
    display: none;
    margin: 3px;
}

.suggestion-style {
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.685);
    font-size: 14px;
}

#current {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#current-extra {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    font-size: 12px;
}

#current-extra p {
    text-align: center;
}

.separator {
    border: 1px solid rgba(0, 0, 0, 0.336);
    height: 55px;
}
.separator-small {
    border: 1px solid rgba(0, 0, 0, 0.336);
    height: 25px;
    margin: 0;
}

#wind, #humidity, #cloud {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 65px;
}
  

#main-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

#temperature {
    font-size: 30px;
}

#current-forecast {
    margin-top: 30px;
    text-align: center;
}

.forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 12px;
    text-align: left;
}

.forecast p {
    margin: 5px;
    font-size: 16px;
}

.forecast b {
    font-size: 14px;
}

.forecast-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.forecast-content img {
    margin-right: 15px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.336);
    background-color: rgba(133, 133, 155, 0.445);
    padding: 5px;
}

#footer-list, #footer-content p {
    list-style-type: none;
    margin: 10px;
}

li a {
    text-decoration: none;
    color: black;
}

#about-us, #contact-us {
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    font-size: 16px;
}

#about-us h3, #contact-us h3 {
    margin-bottom: 7px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px;
}

#contact-form input, #contact-form textarea {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    resize: none;
}

#contact-form button {
    border-radius: 5px;
    padding: 5px;
    background-color: #f6ba37;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    height: 33px;
    width: 100%;
}

#about-us a {
    text-decoration: none;
    color: rgb(137, 63, 63);
}

#forecast-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#forecast-date {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.forecast-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 10px;
}

#forecast-days {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(70, 65, 65);
    background-color: rgba(215, 157, 32, 0.833)
}

#forecast-days div:not(.separator-small) {
    padding: 5px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    height: 25px;
}

.selected-day {
    background-color: #f6ba37;
    padding: 5px;
    font-weight: bold;
}